<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ 이것은 XML 헤더라고 한다(반드시 첫 번째 줄에 위치) -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper에는 SQL 구문을 작성하고 namespace는 구분을 위한 별칭 -->    
<mapper namespace="pocketmon">
	
	<!-- 
		select 구문을 select 태그에 작성
		- id : 외부에서 부를 이름
		- resultType : 이 구문을 통해서 만들 결과 형태(자동 변환 결과) - select 전용
		- parameterType : 이 구문을 실행하기 위해 필요한 형태(생략 가능)
	 -->
	<select id="selectList" resultType="PocketmonDto">
		select * from pocketmon
	</select>
	
	<select id="selectOne" resultType="PocketmonDto" parameterType="int">
		select * from pocketmon where no=#{no}
	</select>
	
	<insert id="add" parameterType="PocketmonDto">
		insert into pocketmon(no, name, type) 
		values(#{no}, #{name}, #{type})
	</insert>
	
	<update id="edit" parameterType="PocketmonDto">
		update pocketmon 
		set name=#{name}, type=#{type} 
		where no=#{no}
	</update>
	
	<delete id="remove" parameterType="int">
		delete pocketmon where no=#{no}
	</delete>
	
	<!-- 
		키워드 검색 
		- 컬럼 등을 설정할 때는 있는 그대로 정적($) 할당한다
		- 데이터를 설정할 때는 형태에 맞게 동적(#) 할당한다
	-->
	<select id="search" resultType="PocketmonDto">
		select * from pocketmon 
		where instr(${column}, #{keyword}) > 0 
		order by ${column} asc
	</select>
	
</mapper>









