<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ 이것은 XML 헤더라고 한다(반드시 첫 번째 줄에 위치) -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper에는 SQL 구문을 작성하고 namespace는 구분을 위한 별칭 -->    
<mapper namespace="student">
	
	<select id="list" resultType="StudentDto">
		select * from student order by no asc
	</select>
	
	<select id="find" resultType="StudentDto">
		select * from student where no = #{no}
	</select>
	
	<insert id="add">
		insert into student(no, name, korean, english, math) 
		values(#{no}, #{name}, #{korean}, #{english}, #{math})
	</insert>
	
	<update id="edit">
		<bind name="noIsValid" value="no != null and !no.equals('')"/>
		<bind name="nameIsValid" value="name != null and !name.equals('')"/>
		<bind name="koreanIsValid" value="korean != null and !korean.equals('') "/>
		<bind name="englishIsValid" value="english != null and !english.equals('')"/>
		<bind name="mathIsValid" value="math != null and !math.equals('')"/>
	
		update student 
		<set>
			<if test="nameIsValid">name = #{name},</if>
			<if test="koreanIsValid">korean = #{korean},</if>
			<if test="englishIsValid">english = #{english},</if>
			<if test="mathIsValid">math = #{math},</if>
		</set>
		<where>
			<if test="noIsValid">no = #{no}</if>
		</where>
	</update>
	
	<delete id="delete">
		delete student where no = #{no}
	</delete>
	
</mapper>









